<ion-header>
  <ion-toolbar>

  </ion-toolbar>
</ion-header>


<ion-content padding>


  <ion-card padding id="identificationItem" *ngIf="platformHelper.isLocalhost()">
    <ion-input type="text" placeholder="Numéro de l'item" [(ngModel)]="numero"></ion-input>
    <div text-center align-items-center>
      <button ion-button full (click)="recupererItem()">Récupérer l'item</button>
    </div>
  </ion-card>


  <ion-card padding id="scanner" *ngIf="platformHelper.isRealServer()">
    <p>Si vous avez trouvé un QR code, vous pouvez le scanner pour avancer dans votre quête ...</p>
    <div text-center align-items-center>
      <button ion-button full (click)="scanCode()" color="secondary">
        <ion-icon name="qr-scanner"></ion-icon>
        Scanner le code
      </button>
    </div>
  </ion-card>

  <ion-content class="card-background-page">
    <ion-row>
      <ion-col col-6 *ngFor="let item of listItems">
        <ion-card id="card-item">
          {{item.pathImg}}
          <img src={{item.pathImg}}/>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-content>
