.ios, .md, .wp	 {

  page-map {

    .no-scroll .scroll-content{
      overflow: hidden;
    }


    .scroll {
      height: 100%
    }

    #map {
      width: 100%;
      height: 100%;
    }

  }

}
