<!--
  Generated template for the LobbyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-toolbar color="primary">
    <ion-title>Salle d'attente - {{game["name"]}}</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>

  <div class="header card-background-page" *ngIf="scenarioPicked">
    <ion-card>
      <img src="assets/imgs/truc1.jpg"/>
      <div class="card-title">{{selected_scenario['name']}}</div>
      <div class="card-players"> {{selected_scenario['nbPlayers']}}
        <ion-icon name="md-contacts"></ion-icon>
      </div>
      <div class="card-time"> {{selected_scenario['timeInMinuts']}}
        <ion-icon name="md-time"></ion-icon>
      </div>
    </ion-card>
    <div text-center align-items-center>
      <!--<button ion-button round *ngIf="isChief" (click)="pickScenario()">Changer de
        scénario
      </button>
      -->
    </div>
  </div>

  <div class="header2" *ngIf="!scenarioPicked">
    <ion-card>
      <div id="wait-spinner">
        <ion-spinner name="bubbles"></ion-spinner>
        <ion-label text-center class="indicator" *ngIf="!isChief">Le chef d'équipe choisit un scénario...</ion-label>
        <ion-label text-center class="indicator" (click)="pickScenario()" *ngIf="isChief">Toucher pour choisir un scénario</ion-label>
      </div>
    </ion-card>
  </div>


  <ion-list class="users">
    <ion-list-header text-center>
      Joueurs connectés ({{users.length+1}})
    </ion-list-header>

    <ion-item *ngIf="!isChief">
      <ion-icon name="contact" color="danger"></ion-icon>
      {{game["chief"]}} (chef)
    </ion-item>

    <ion-item>
      <ion-icon name="contact" color="primary"></ion-icon>
      {{user}} (vous)
    </ion-item>

    <ion-item *ngFor="let user of users">
      <ion-icon name="contact" color="primary"></ion-icon>
      {{user}}
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar id="chef">

    <button ion-button color="danger" (click)="quitCurrentGame()" *ngIf="isChief">Quitter</button>
    <button ion-button color="secondary" (click)="startGame()" *ngIf="isChief">Commencer</button>
    <!--<button ion-button full color="secondary" (click)="startGame()" [disabled]="!hasEnoughPlayers" *ngIf="isChief" >Commencer</button>-->
  </ion-toolbar>

  <ion-toolbar id="not-chef" *ngIf="!isChief">
    <button ion-button color="danger" full (click)="quitCurrentGame()" *ngIf="!isChief">Quitter l'équipe</button>
  </ion-toolbar>
</ion-footer>

