<!--
  Generated template for the LobbyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>Salle d'attente - {{game["name"]}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-label text-center="center" *ngIf="isChief">Vous êtes le chef d'équipe</ion-label>
  <button ion-button full *ngIf="isChief" [navPush]="selectScenario" >Choisir le scénario</button>

  <ion-label text-center="center" *ngIf="game['scenario'] && !isChief">Scénario : {{game["scenario"]["name"]}}</ion-label>

    <ion-list>
    <ion-list-header text-center>
      Joueurs connectés ({{users.length+1}})
    </ion-list-header>
    <ion-item *ngIf="!isChief">{{game["chief"]}} (chef)</ion-item>
      <ion-item>{{user}} (vous)</ion-item>
    <ion-item *ngFor="let user of users">{{user}}</ion-item>
  </ion-list>

</ion-content>

<ion-footer>
    <button ion-button full color="danger" (click)="quitCurrentGame()" *ngIf="!isChief">Quitter l'équipe</button>
    <button ion-button full color="danger" (click)="quitCurrentGame()" *ngIf="isChief">Supprimer l'équipe</button>
    <button ion-button full color="secondary" (click)="startGame()" [disabled]="!hasEnoughPlayers" *ngIf="isChief" >Commencer</button>
</ion-footer>

