.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    height:22vh;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-players {
    font-size: 1.5em;
    position: absolute;
    bottom:5%;
    right:40%;
    width: 100%;
    color: #fff;
  }

  .card-time {
    font-size: 1.5em;
    position: absolute;
    bottom:5%;
    left:38%;
    width: 100%;
    color: #fff;
  }
}

.header2 ion-card{
  height:22vh;
  padding-top:12%;
  background: #ffffff; /* Old browsers */
  color:#333;
}

.header2 ion-icon {
  text-align: center;
  color:#333;
  font-size:40px;
}

.header2 .indicator{
  color:#333;
}

.header2 #chooseScenar{
  text-align: center;
}

ion-footer #not-chef{
  padding: unset;
  margin: unset;
  margin-bottom:-2px;
  button {
    height: 53px;
    margin: unset;
    float: left;
    width: 100%;
    border-radius: 0;
  }
}

ion-footer #chef {

  padding: unset;
  margin: unset;
  margin-bottom:-2px;

  button:first-child {
    height: 53px;
    margin: unset;
    float: left;
    width: 50%;
    border-radius: 0;
  }

  button:last-child {
    height:53px;
    margin: unset;
    float: right;
    border-radius: 0;
    width: 50%;
  }
}

.users ion-icon{
  font-size: 1.4em;
  margin-right: 15px;
  vertical-align: middle;
}

#selectScenar{
  margin-bottom: 15px;
}


