<!--
  Generated template for the EquipePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
§
<ion-content>

  <ion-list class="users">
    <ion-list-header text-center>
      Joueurs
    </ion-list-header>

    <ion-item  *ngIf="!isChief">
      <ion-icon name="contact" color="danger"></ion-icon>
      {{game["chief"]}} (chef)
    </ion-item>

    <ion-item>
      <ion-icon name="contact" color="primary"></ion-icon>
      {{user}} (vous)
    </ion-item>

    <ion-item *ngFor="let user of users">
      <ion-icon name="contact" color="primary"></ion-icon>
      {{user}}
    </ion-item>
  </ion-list>




</ion-content>
