page-home {

  .getstart{
    background-color: #fff;
  }

  .logo{
    text-align: center;
    margin-top:50px;
    margin-bottom: 30px;
    width:125px;
    height: 125px;
  }

  .ctc{
  }

}

.yo{
  font-size: 19px;
  height: 85px;
}
