page-home {

  .getstart{
    background-color: #fff;
  }

  .logo{
    text-align: center;
    margin-top:30px;
    margin-bottom: 10px;
    width:200px;
    height: 200px;
  }

}

.yo{
  font-size: 22px;
  font-weight:100;
  height: 85px;
}

ion-img{
  background-color: #fff;
}
