page-home {

  .getstart{
    background-color: #fff;
  }

  .ctc{
    margin-top: 170px;
  }

}

.yo{
  font-size: 19px;
  height: 85px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
