// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.gris1-bg{
  background-color: #DCE0D9;
}

.gris1{
  color:#DCE0D9;
}

.gris2-bg{
  background-color: #97A39B;
}

.gris2{
  color:#97A39B;
}

.gris3-bg{
  background-color: #595959;
}

.gris3{
  color:#595959;
}

.pourpre-bg{
  background-color: #240617;
}

.pourpre{
  color:#240617;
}

.prune-bg{
  background-color: #6B0F1A;
}

.prune{
  color:#6B0F1A;
}
