<!--
  Generated template for the ScenarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img [src]="game['scenario']['image']"/>
    <ion-card-content>
      <ion-card-title>
        {{game["scenario"]["name"]}}
      </ion-card-title>
      <p>
        {{game["scenario"]["summary"]}}
      </p>
    </ion-card-content>
  </ion-card>


  <ion-list>
    <ion-list-header color="secondary" text-center>
      Mes missions
    </ion-list-header>

    <ion-card *ngFor="let mission of userMissions">
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            <ion-avatar item-start>
              <img [src]=mission.mission.img>
            </ion-avatar>
          </ion-col>
          <ion-col col-7>
            <h2>{{mission["mission"]["message"]}}</h2>
          </ion-col>
          <ion-col col-2>
            <button ion-button text-center align-items-center (click)="indice()" id="indice">
              <ion-icon icon-start icon-only name="ios-help-circle-outline"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>


  <ion-list>
    <ion-list-header color="secondary" id="missionsHeader" text-center>
      Missions des autres joueurs
    </ion-list-header>

    <ion-card *ngFor="let mission of othersMissions">
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            <ion-avatar item-start>
              <img [src]=mission.mission.img>
            </ion-avatar>
          </ion-col>

          <ion-col col-9>
            <h2>{{mission["mission"]["message"]}}</h2>
            <p>assignée à {{mission["player"]}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>


</ion-content>
